// design color & portfolyo
$font-family: "Poppins", sans-serif;
$fw-reg: 400;
$fw-semibo: 600;
$fw-bol: 700;
$sec-blue: #2405f2;
$main-color: #1c1e53;
$dark-blue: #282938;
$buttons-color: #fcd980;
$buttons-color-hover: #fde4a6;
$grey: #f4f6fc;
$accent: #eef4fa;
$white: #ffffff;
$black: #000000;
$button-sec-hover: #535460;
$button-trans-back: #585858;
$nav-link-color-d: #bbbbcb;
$border-radius: 2.5rem;
$card-hover-color: #5239fa;
