//do not use !important for edit default values
/********************************/
// customize boots + add default style
/********************************/
/* color - typography -font sizes */
/* var-font : family weight size-reg */
/* body : family - size*/
@import "_vars.scss";

// overwite bootstrap color
$primary: $main-color;
$secondary: $sec-blue;
$warning: $buttons-color;
$light: $grey;
$info: $button-trans-back;
$success: $accent;
$danger: $dark-blue;
// nav bar
$navbar-light-color: $nav-link-color-d;
$navbar-light-hover-color: $buttons-color !important;
$navbar-light-active-color: $white;
// *********************************
//accordiaon
$accordion-button-active-bg: $white;
$accordion-border-width: 1px;
$accordion-border-color: $light;
$accordion-button-focus-border-color: $light; // Deprecated in v5.3.3
//gamed wallahy elshadow da
$accordion-button-focus-box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
  rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
  rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
//
// $accordion-icon-transition:               transform .2s ease-in-out !default;
$accordion-icon-transform: rotate(-45deg);
//input
$input-btn-padding-y: 0.7rem;

// *******************************
//accordiaon
.accordion {
  // scss-docs-start accordion-css-vars
  $accordion-active-color: $black;
  $accordion-active-bg: $white !important;
  $accordion-button-icon: url("../assets/images/+.svg") !important;
  // scss-docs-end accordion-css-vars
}
//

//
.accordion-button {
  &:not(.collapsed) {
    box-shadow: none !important;
  }
  &::after {
    flex-shrink: 0;
    translate: rotateY(-45deg) !important;
    background-image: url("../assets/images/+.svg") !important;
  }
}
body {
  counter-reset: count;
}
.accordion {
  .for-count {
    position: relative;
  }
  .for-count::before {
    counter-increment: count;
    content: "0" counter(count);
    color: $sec-blue;
    font-size: 1rem;
    font-weight: $fw-semibo;
    position: absolute;
    top: 50%;
    transform: translateY(-51%);
    // transform: translate(-50,-50);
  }
}
// *******************************
body {
  font-family: $font-family;
  font-weight: $fw-reg;
  color: $white;
}
*::placeholder {
  color: $light !important;
  opacity: 0.5 !important;
}
/* default style for tags :: mobile  */
h1 {
  font-weight: $fw-semibo;
  font-size: 2.5rem;
  line-height: 3.25rem;
}
h2 {
  font-weight: $fw-semibo;
  font-size: 2rem;
  line-height: 2.8rem;
}
h3 {
  font-weight: $fw-semibo;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
h4 {
  font-weight: $fw-reg;
  font-size: 1.25rem;
  line-height: 1.875rem;
}
h5 {
  font-weight: $fw-semibo;
  font-size: 1rem;
  line-height: 1.5rem;
}
h6 {
  font-weight: $fw-semibo;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* utill classes */
/* fonts */
.text-size-large {
  font-size: 1.25rem;
  line-height: 1.875rem;
}
.text-size-medium {
  font-size: 1.125rem;
  line-height: 1.6875rem;
}
.text-size-regular {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-size-small {
  font-size: 1.1428rem;
  line-height: 1.31rem;
}
.text-size-tiny {
  font-size: 0.75rem;
  line-height: 1.125rem;
}
.text-style-quote {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

/* buttons */
.btn-outline-w {
  border-color: $nav-link-color-d !important;
}
.is-icon {
  position: relative;
}
.is-icon::after {
  position: absolute;
  content: url(../assets/images/Arrow\ 1.svg);
  margin-left: 1rem;
}
.is-icon1 {
  position: relative;
}
.is-icon1::after {
  position: absolute;
  content: url(../assets/images/Arrow\ 2.svg);
  margin-left: 1rem;
}
.is-icon2 {
  position: relative;
}
.is-icon2::after {
  position: absolute;
  content: url(../assets/images/Arrow\ 1\ -b.svg);
  margin-left: 1rem;
}
.is-icon3 {
  position: relative;
}
.is-icon3::after {
  position: absolute;
  content: url(../assets/images/Arrow\ 2yellow.svg);
  margin-left: 1rem;
}
footer {
  p i {
    color: $white;
  }
  p i:hover {
    border-color: $buttons-color !important;
  }
}
.price-btn {
  background-color: $dark-blue !important;
  color: $white !important;
}
.price-btn:hover {
  background-color: $price-btn-hover !important;
}
@import "../node_modules/bootstrap/scss/bootstrap.scss";
